/* Full Page Centering */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #3b82f6, #6366f1);
}

/* Login Box */
.login-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;

  width: 320px;
  text-align: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Title */
.login-box h2 {
  margin-bottom: 20px;
  color: #1e293b;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  border: 1px solid #ccc;
  border-radius: 6px;

  font-size: 14px;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 10px;

  background: #3b82f6;
  color: white;

  border: none;
  border-radius: 6px;

  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

/* Hover */
.login-box button:hover {
  background: #2563eb;
}

/* Optional small text */
.login-box p {
  margin-top: 10px;
  font-size: 12px;
  color: #64748b;
}