<div class="sidebar">

  <h2 class="logo">SmartWinnr</h2>

  <ul class="menu">

    <li routerLink="/dashboard" routerLinkActive="active">
      📊 Dashboard
    </li>

    <li routerLink="/users" routerLinkActive="active">
      👥 Users
    </li>

    <li routerLink="/content" routerLinkActive="active">
      📝 Content
    </li>

    <li routerLink="/analytics" routerLinkActive="active">
      📈 Analytics
    </li>

    <li routerLink="/settings" routerLinkActive="active">
      ⚙️ Settings
    </li>

  </ul>

</div>